# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
markitdown_web.egg-info/

# Виртуальное окружение
.venv/
venv/

# Системные файлы
.DS_Store
Thumbs.db

# Временные файлы
*.log
*.tmp

# Конфиденциальные данные
.env
.streamlit/secrets.toml

# Тестовые файлы и директории
tests/
src/test_*.py
test_*.py
convert_file.py
setup.py
output.md
test.txt